* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat";
}
html, 
body,
.wrapper,
#root {
    height: 100%;
}

header{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #FFC900;
    color:#fff;
    box-shadow: 3px 24px 23px -19px rgba(0,0,0,0.32);
}

header h1{
    font-size:40px;
    margin-left: 30px;
}

header button{
    border:none;
    background-color: #FFC900;
    color: #fff;
    flex: end;
    font-size:25px;
    margin-right: 40px;
    font-weight: 700;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 15px;
    color: gray;
}

.link-button{
    flex: end;
    font-size:25px;
    margin-right: 40px;
    font-weight: 700;
    border: none;
    background-color:#FFC900 ;
}
.card{
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height:420px;
    width: 280px;
    padding: 8px, 8px, 16px, 8px;
    background-color: #fff;
    box-shadow: 3px 24px 23px -19px rgba(0,0,0,0.32);
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    }
.card:hover{
    height:450px;
    width:290px;
    box-shadow:  3px 20px 42px 8px rgba(0,0,0,0.6);
}

.card img, .cart-item img{
    margin: 12px;
    border-radius: 10px;
    height:160px ;
    width: auto ;
    }
.card button{
    width:180px;
    height: 60px;
    background-color:#1A5F7A ;
    color: #fff;
    font-weight: 550;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 2px 0 grey;
}

.card button:hover{
   background-color: #fff;
   color:#1A5F7A ;
   border :solid 4px #1A5F7A;
   font-weight: 650;
}
.products-list{
    background-color:#fff;
    margin: 40px 40px 20px 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
    column-gap: 32px;
    box-shadow: 3px 24px 23px -19px rgba(0,0,0,0.32);
}
.title-div{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.title-div h1{
    color:hsl(197, 65%, 29%);
    font-size: 40px;
    
}
.cart{
    margin :50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}
.cart h1{
    color:#1A5F7A;
    font-size: 40px;
    margin-bottom: 40px;
}
.cart-box{
    background-color: #FFF;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.cart-item{
font-size: 15px;
color: #1A5F7A ;
font-weight: 500;
margin-bottom: 20px;
width:80%;
border: solid #1A5F7A 3px;
border-radius: 10px;
margin :10px 50px 10px 50px ;
background-color: #fff;
display: flex;
flex-direction: row;
align-items: center;
justify-content:space-between;
}

.add-quantity{
    margin-right: 7px;
     
}
.add-quantity input{
    text-indent: 5px;
    -webkit-appearance: none;
    height: 40px;
    width:80px;
    border:1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.add-quantity input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-quantity button{
    width:40px;
    height:40px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd; 
}
.total-price-div{
    text-align: right;
    color:#1A5F7A;
}
.total-price-div button{
    width:100%;
    height: 45px;
    border-radius:10px;
    background-color:#1A5F7A;
    margin-bottom: 0;
    border:none;
    color:#fff;
}
.data-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-container > form {
    height: 700px;
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    padding: 0.25rem;
   
}
.data-container h1 , .succes-page h1{
    margin-top: 40px;
    text-align: center;
    color: #1A5F7A;
    width: 100%;
    margin-bottom: 40px;
}
.data-container button {
    width:100%;
    height: 45px;
    border-radius:10px;
    background-color:#1A5F7A;
    margin-bottom: 0;
    border:none;
    color:#fff;
}


.control {
    text-indent: 10px;
    width:100%;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    border:1px solid #ddd;
}
.control-text {
    
    color:#1A5F7A;
    margin-bottom: 24px;
    height: 45px;
}
.control-text::placeholder{
    color:gray;
    opacity: 15;
}

.success-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.success-page button{
    width: 240px;
    height: 60px;
    border-radius:10px;
    background-color:#1A5F7A;
    margin-bottom: 0;
    border:none;
    color:#fff;
}
.success-page h1{
    color:#1A5F7A;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}
